/*  Main CSS  */

    footer p {
    color: white;
    }

    body {
            
    font-family: "lato";
    background-image: url(/galaxy.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    max-height: max-content;
    }
        
    .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }

    .jumbotron {
    margin-top: 100px;
    }
        
    .footer p {
    color: white;
    align-content: center;
    }
        
    main {
    color: white;
    padding-top: 10%;
    }
        
    @media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
    }